side-menu {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1s;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
}
side-menu .link {
  color: #011627;
  margin: 5%;
  padding: 5%;
  text-align: center;
  border: 1px solid #011627;
  border-radius: 1em;
}

.navbar {
  content: "";
  clear: both;
  display: table;
  height: 10vh;
  background-color: #CCCCCC;
  width: 100%;
  display: flex;
  transition: margin-left 1s;
}
.navbar .scene {
  height: 100%;
  transition: margin-left 1s;
  display: flex;
}
.navbar .scene .card {
  border: none;
  position: relative;
  transition: transform 1s;
}
.navbar .scene .card img {
  width: 8vh;
  cursor: pointer;
}
.navbar .scene .card .card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.navbar .scene .card .card__face--back {
  transform: rotateY(180deg);
}
.navbar .scene #is-flipped {
  transform: rotateY(180deg);
}
.navbar title-right {
  padding-right: 1%;
  right: 0;
  position: fixed;
  transition: font-size 0.3s ease-in;
  font-size: 150%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
.navbar title-right .title {
  color: #011627;
  text-decoration: none;
}

@media only screen and (min-width: 540px) {
  .navbar title-right {
    font-size: 200%;
  }
}
.home-page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  max-width: 91.66%;
  height: 100%;
}
.home-page .menu-wrapper {
  width: 100%;
  padding: 1%;
}
.home-page .menu-wrapper .open-menu {
  box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
  color: #000;
  padding: 4%;
  column-count: 2;
  column-gap: 15%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.home-page .menu-wrapper .open-menu:before {
  background-color: #8b4513;
  border-radius: 2%;
  bottom: -3.2%;
  content: "";
  left: -1%;
  position: absolute;
  right: -1%;
  top: -3.4%;
}
.home-page .menu-wrapper .open-menu:after {
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 46%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 51%, rgba(0, 0, 0, 0.2) 52%, transparent 100%);
  bottom: -3.2%;
  content: "";
  left: 50%;
  position: absolute;
  top: -3.4%;
  transform: translate(-50%, 0);
  width: 5%;
  z-index: 1;
}
.home-page .menu-wrapper .open-menu * {
  position: relative;
}
.home-page .menu-wrapper .open-menu article {
  margin-top: 0;
  min-width: 100%;
  height: 100%;
}
.home-page .menu-wrapper .open-menu article h1 {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
  background-size: 0.5em 0.5em;
  font-size: 400%;
  padding: 1em 0;
  position: relative;
  text-align: center;
  margin-top: 0 auto;
}
.home-page .menu-wrapper .open-menu article h1:before, .home-page .menu-wrapper .open-menu article h1:after {
  border: solid 0 #000;
  border-width: 0.05em 0;
  bottom: calc((0.125em / 2) * 3);
  content: "";
  height: 0.15em;
  position: absolute;
  width: calc(50% - (1em / 2));
}
.home-page .menu-wrapper .open-menu article h1:before {
  left: 0;
}
.home-page .menu-wrapper .open-menu article h1:after {
  right: 0;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*# sourceMappingURL=App.css.map */
