@import "colors";
@import "columns";
@import "headers";

side-menu {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: $dark-orange;
  .sidebar-options{
    list-style: none;
    .link{
      color: white;
    }
  }
}

.navbar {
  @include row;
  background-color: $dark-purple;
  width: $col-12;
  display: flex;
  color: white;
  transition: margin-left 0.5s;
  img {
    width: 8vh;
  }
  .front-face,
  .back-face{
    backface-visibility: hidden
  }
  title-right {
    right: 0;
    position: fixed;
    transition: font-size 0.3s ease-in;
    font-size: 150%;
    @include right-align;
  }
}

@media only screen and (min-width: 540px) {
  .navbar {
    title-right {
      font-size: 200%;
    }
  }
}
