@import "colors";
@import "columns";
@import "headers";

.navbar {
  @include row;
  background-color: $light-orange;
  width: $col-12;
  display: flex;
  color: white;
  side-menu{
    img{
      width: 30%; 
      height: 30%;
    }
    .sidebar-options{

    }
  }
  title-right {
    transition: font-size 0.3s ease-in;
    font-size: 150%;
    @include right-align;
  }
}

@media only screen and (min-width: 540px) {
  .navbar {
    title-right {
      font-size: 200%;
    }
  }
}
